body {
	margin: 0;
}

.background {
	height: 100vh;
	background-image: linear-gradient(#be91c6, #fea798, #be91c6);
	overflow: hidden;
}

.buildings {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/homepage-buildings.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}