body {
	margin: 0;
	overflow: hidden;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(#bef, #4ad);
	overflow: hidden;
}

.buildings {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/homepage-buildings.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.windturbine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-image: url('../images/homepage-wind-turbine-blades.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation: rotate 16s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.airship {
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	height: 30vh;
	background-image: url('../images/homepage-airship.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: 100s slide -35s infinite linear;
}

@keyframes slide {
	from {
		transform: translateX(30%);
	}
	to {
		transform: translateX(-100%);
	}
}